.selectOption {
  padding: 15px;
}

.matchday {
  font: "Courier New";
  font-size: 2em;
}

.card{
  margin: 5px;
}

.date {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.detail {
  text-align: center;
}
.ddate {
  margin: 10px;
  margin-top: 100px;

}
.dmatch{
  margin-top: 50px;
  font-weight: 300;
}
.dscore {
    margin-top: 50px;
}
.summary{
  text-align: center;
}
.tName{
  font-size: 2em;
  margin: 50px;
  font-weight: bold;
}
.t{
  font-style: normal;
  color: blue;
  font-weight: bold;
}
