<div class="text-center">
  <div class="row selectOption">
    <div class="col-sm-4">
      <p>Year:
        <select ng-model="appCon.orderProp">
          <option ng-value="">Select Year</option>
          <option ng-value="2015">2015</option>
          <option ng-value="2016">2016</option>
        </select>
      </p>
    </div>

    <div class="col-sm-4">
      <p>
        Team:
        <select ng-model="teamName">
          <option ng-value="all">All team</option>
          <option ng-if="appCon.orderProp == 2015" ng-repeat="x in appCon.team11">{{x}}</option>
          <option ng-if="appCon.orderProp == 2016" ng-repeat="x in appCon.team22">{{x}}</option>
        </select>
      </p>
    </div>

    <div class="col-sm-4">
      <p>
        Match:
        <select ng-model="matchDay">
          <option ng-value="all">All Matches</option>
          <option ng-repeat="y in appCon.match">{{y}}</option>
        </select>
      </p>
    </div>
  </div>

  <a href="#!summary"><button type="button" class="btn btn-primary">Match Summary</button></a>

  <hr></hr>


  <div ng-if="appCon.orderProp == 2015" ng-init="appCon.loadRounds1()">
    <div class="machdata" ng-repeat="y in appCon.rounds | filter : matchDay : true ">
      <div class="matchday">{{y.name}}</div>
      <div class="card"  ng-repeat="x in y.matches | filter : teamName" >
        <a href="#!details">
          <div class="card-header" ng-model="data" id="{{x}}" ng-click="appCon.matchDetail($event)">
          <div class="row">
            <div class="col-6 date">{{x.date}}</div>
            <div class="col-6">{{x.team1.code}}  -  {{x.score1}}  -  {{x.score2}}  -  {{x.team2.code}}</div>
          </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div ng-if="appCon.orderProp == 2016" ng-init="appCon.loadRounds2()">
    <div class="machdata" ng-repeat="y in appCon.rounds | filter : matchDay : true ">
      <div class="matchday ">{{y.name}}</div>
      <div class="card"  ng-repeat="x in y.matches | filter : teamName">
        <a href="#!details">
          <div class="card-header" ng-model="data" id="{{x}}" ng-click="appCon.matchDetail($event)">
            <div class="row">
              <div class="col-6 date">{{x.date}}</div>
              <div class="col-6">{{x.team1.code}}  -  {{x.score1}}  -  {{x.score2}}  -  {{x.team2.code}}</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
